<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>
                        <a asp-controller="Home" asp-action="Index">
                            <img class="logo-home-study" src="~/images/main-page/logo_HomeStudy.png" />
                            Home Study
                        </a>
                    </h3>
                    <!-- <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna
                    mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat
                    consequat mauris nunc congue.</p> -->
                    <div class="fan-page">
                        @*<img style="height:180px" src="~/images/main-page/fan-page.png" />*@
                        <!--Like Page facebook-->
                        @await Component.InvokeAsync("LikePage")
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Liên kết</h4>
                    <ul>
                        <li>
                            <i class="ion-ios-arrow-right"></i>
                            <a href="#">Trang chủ</a>
                        </li>
                        <li>
                            <i class="ion-ios-arrow-right"></i>
                            <a href="#">Giới thiệu</a>
                        </li>
                        <li>
                            <i class="ion-ios-arrow-right"></i>
                            <a href="#">Các khóa học</a>
                        </li>
                        <li>
                            <i class="ion-ios-arrow-right"></i>
                            <a href="#">Đội ngũ giảng dạy</a>
                        </li>
                        <li>
                            <i class="ion-ios-arrow-right"></i>
                            <a href="#">Chuẩn đào tạo</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Liên hệ</h4>
                    <p>
                        9/7 Đường 51, Phường 14,
                        <br> Quận Gò Vấp, TP. Hồ Chí Minh
                        <br>
                        <br>
                        <strong>Điện thoại:</strong> 0120.4528.462 - 01655.603.376
                        <br>
                        <strong>Email:</strong> homestudy.edu.vn@gmail.com
                        <br>
                    </p>

                    <div class="social-links">
                        <a href="#" class="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a target="_blank" href="https://www.facebook.com/homestudy.edu.vn/" class="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" class="instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="#" class="google-plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#" class="linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>Thông tin</h4>
                    <p>
                        Với chất lượng giảng dạy đạt chuẩn quốc tế cùng các trung tâm hiện đại trên khắp cả nước, Home Study mang đến những khoá
                        học dành riêng cho từng độ tuổi và trình độ giúp học viên có nền tảng Anh ngữ vững chắc, tăng khả năng giao
                        tiếp và đạt kết quả cao trong các kỳ thi Anh ngữ quốc tế
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright
            <strong>KLD Team</strong>. All Rights Versions
        </div>
        <div class="credits">
        </div>
    </div>
</footer>