<div class="top_nav">

    <div class="nav_menu">
        <nav class="" role="navigation">
            <div class="nav toggle">
                <a id="menu_toggle" (click)="onClick()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="#" alt="">{{config}}
                        <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                        <!-- <li>
                            <a href="#">
                                <i class="pull-right"></i> Tài liệu</a>
                        </li> -->
                        <li>
                            <a href="#" (click)="showPopupChangePass()">
                                <i class="pull-right"></i> Đổi mật khẩu</a>
                        </li>
                        <li>
                            <a href="#" (click)="logout()" id="btnLogOut">
                                <i class="fa fa-sign-out pull-right"></i> Đăng xuất</a>
                        </li>
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <!-- <a class="calendar" href="#" title="My Calendar">
                        <i class="fa fa-desktop"></i>
                    </a> -->
                </li>
            </ul>
        </nav>
    </div>

</div>



<!-- Form import -->
<dx-popup class="popup" [width]="auto" [height]="auto" [showTitle]="true" [title]="titlePopup.Title" [dragEnabled]="false" [(visible)]="isVisibleChangePassword"
    [position]="{ my: 'top', at: 'top', of: window }">
    <div *dxTemplate="let data of 'content'">
        <dx-form id="form" [colCount]="1" [formData]="userChangePasswordVM">
            <dxi-item dataField="oldPassword" [editorOptions]="{ mode: 'password' }" [label]="{text: 'Mật khẩu cũ'}"></dxi-item>
            <dxi-item dataField="newPassword" [editorOptions]="{ mode: 'password' }" [label]="{text: 'Mật khẩu mới'}"></dxi-item>
            <dxi-item dataField="confirmPassword" [editorOptions]="{ mode: 'password' }" [label]="{text: 'Nhập lại mật khẩu mới'}"></dxi-item>
           
        </dx-form>
        <div class="popup-action">
            <dx-button class="button-info" text="Hủy" (onClick)="cancelPopup()">
            </dx-button>  
            <dx-button  class="button-info" type="success" text="Đồng ý" (onClick)="changePassword()">
            </dx-button>  
        </div>
    </div>
</dx-popup>