
<section id="about">
    <div class="container">

        <header class="section-header">
            <h3>CÁC KHÓA HỌC</h3>
            <!-- <p>TRAN THANH TUNG, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
        </header>
        <!-- Các khóa học -->
        <div class="row about-cols">
            <div class="col-md-4 wow fadeInUp">
                <div class="about-col">
                    <div class="img">
                        <img src="~/images/courses/Level 0.jpg" alt="" class="img-fluid">
                        <div class="icon">
                            <i class="ion-ios-eye-outline"></i>
                        </div>
                    </div>
                    <h2 class="title">
                        <a href="#">Level 0</a>
                    </h2>
                    <p class="info-courses">
                        Khoá học dành cho người mất gốc với tiếng Anh. Giáo viên người Việt sẽ hướng dẫn các bạn kiến thức cơ bản để tiến vào level 1
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="about-col">
                    <div class="img">
                        <img src="~/images/courses/Level 1.png" alt="" class="img-fluid">
                        <div class="icon">
                            <i class="ion-ios-eye-outline"></i>
                        </div>
                    </div>
                    <h2 class="title">
                        <a href="#">Level 1</a>
                    </h2>
                    <p class="info-courses">
                        Dành cho các bạn đã nghe và nói được Tiếng Anh. Các bạn sẽ được học Tiếng Anh cùng giáo viên bản xứ với ngôn ngữ chuẩn xác, phát âm chậm rãi để giúp các bạn cải thiện Pronunciation cũng như Grammar.
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                    <div class="img">
                        <img src="~/images/courses/Level 2.png" alt="" class="img-fluid">
                        <div class="icon">
                            <i class="ion-ios-eye-outline"></i>
                        </div>
                    </div>
                    <h2 class="title">
                        <a href="#">Level 2</a>
                    </h2>
                    <p class="info-courses">
                        Dành cho các bạn đã nghe và nói tốt Tiếng Anh. Các bạn sẽ được học cùng giáo viên bản xứ, cùng với giọng nói chuẩn để nâng cao cách phát âm khi giao tiếp của các bạn.
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp">
                <div class="about-col">
                    <div class="img">
                        <img src="~/images/courses/Level 3.png" alt="" class="img-fluid">
                        <div class="icon">
                            <i class="ion-ios-eye-outline"></i>
                        </div>
                    </div>
                    <h2 class="title">
                        <a href="#">Level 3</a>
                    </h2>
                    <p class="info-courses">
                        Dành cho các bạn chuyên về Tiếng Anh. Các bạn sẽ được học cùng giáo viên bản xứ để đi sâu vào chuyên ngành.
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="about-col">
                    <div class="img english-club">
                        <img src="~/images/courses/Club.jpg" alt="" class="img-fluid">
                        <div class="icon">
                            <i class="ion-ios-eye-outline"></i>
                        </div>
                    </div>
                    <h2 class="title">
                        <a href="#">English Club</a>
                    </h2>
                    <p class="info-courses">
                        Tự tin hòa mình vào các trò chơi sinh hoạt vòng tròn, thảo luận các chủ đề bằng Tiếng Anh, luyện tập nói trước đám đông, thưởng thức âm nhạc và còn nhiều hoạt động hấp dẫn khác.
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                    <div class="img tour">
                        <img src="~/images//courses/Tour.png" alt="" class="img-fluid">
                        <div class="icon">
                            <i class="ion-ios-eye-outline"></i>
                        </div>
                    </div>
                    <h2 class="title">
                        <a href="#">Tour</a>
                    </h2>
                    <p class="info-courses">
                        Cơ hội du ngoạn cùng người nước ngoài, ngắm cảnh và học hỏi Tiếng Anh trực tiếp từ những hoàn cảnh cụ thể.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>