
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_LayoutPageChild.cshtml";
}

<h3>
    KET đánh giá chính xác khả năng hiểu và giao tiếp bằng tiếng Anh trong những tình huống cơ bản hằng ngày. Từ đó giúp thí sinh có kế hoạch học tập hiệu quả hơn hoặc tiếp tục ôn thi và tham gia những kỳ thi ở cấp độ kế tiếp.

    PET giúp đánh giá những kỹ năng cần thiết và nhằm giúp người học tiếng Anh nâng cao kỹ năng và ứng dụng vào các ngữ cảnh khác nhau trong cuộc sống hằng ngày, học tập, du lịch nước ngoài.

    IELTS là một chứng chỉ giàu tính học thuật, phù hợp với mục đích du học, định cư hay làm việc tại các nước nói tiếng Anh, được hầu hết các quốc gia trên thế giới công nhận.
</h3>

