
<section id="testimonials" class="section-bg wow fadeInUp">
    <div class="container">

        <header class="section-header">
            <h3>Đánh giá của học viên</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item">
                <img src="~/images/student/Chau.jpg" class="testimonial-img" alt="">
                <h3>Châu</h3>
                <h4>Sinh viên</h4>
                <p>
                    <img src="~/images/quote-sign-left.png" class="quote-sign-left" alt=""> Ban đầu, tôi cảm thấy khá “choáng” và bỡ ngỡ vì phải chủ động bắt nhịp với cách học tự do, chủ động tại trung
                    tâm. Tuy nhiên, chính nhờ môi trường năng động này mà tôi đã loại bỏ được chứng tự ti, khép kín cố hữu."
                    <img src="~/images/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
            </div>
            <div class="testimonial-item">
                <img src="~/images/student/avaterKLD.jpg" class="testimonial-img" alt="">
                <h3>Thanh Tùng</h3>
                <h4>Web Developer</h4>
                <p>
                    <img src="~/images/quote-sign-left.png" class="quote-sign-left" alt=""> Giờ đây, tôi có thể tự tin giao tiếp bằng tiếng Anh. Cuộc sống của tôi thay đổi rất nhiều sau khi biết thêm
                    một môn ngoại ngữ.
                    <img src="~/images/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
            </div>

            <div class="testimonial-item">
                <img src="~/images/student/Bao.jpg" class="testimonial-img" alt="">
                <h3>Bảo</h3>
                <h4>Saler</h4>
                <p>
                    <img src="~/images/quote-sign-left.png" class="quote-sign-left" alt=""> Là một người đã đi làm và không còn tiếp xúc trường lớp, nhưng tôi không hề cảm thấy chán nản, gò bó khi học
                    tại WSE. Ngược lại, phương pháp WSE giúp tôi tiếp cận và tiêp thu kiên thức dễ dàng hơn.
                    <img src="~/images/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
            </div>

            <div class="testimonial-item">
                <img src="~/images/student/Bon.jpg" class="testimonial-img" alt="">
                <h3>Khang</h3>
                <h4>Marketing</h4>
                <p>
                    <img src="~/images/quote-sign-left.png" class="quote-sign-left" alt=""> Ban đầu, tôi cảm thấy “choáng” với cách học tự do tại trung tâm. Tuy nhiên, nhờ môi trường này tôi đã bỏ được
                    chứng tự ti, khép kín.
                    <img src="~/images/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
            </div>

            <div class="testimonial-item">
                <img src="~/images/student/Phu.jpg" class="testimonial-img" alt="">
                <h3>Phú</h3>
                <h4>NV văn phòng</h4>
                <p>
                    <img src="~/images/quote-sign-left.png" class="quote-sign-left" alt=""> Có tiếng Anh tốt, tôi mạnh dạn ứng tuyển vào các chương trình giao lưu với sinh viên nước ngoài… Tôi cảm thấy
                    rất vui khi được các bạn khen và ngưỡng mộ vì nói tiếng Anh hay
                    <img src="~/images/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
            </div>

        </div>

    </div>
</section>