<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active" style="background-image: url('/images/intro-carousel/1.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Chào mừng đến với Home Study</h2>
                            <p>
                                Với chất lượng giảng dạy đạt chuẩn quốc tế cùng các trung tâm hiện đại trên khắp cả nước, Home Study mang
                                đến những khoá học dành riêng cho từng độ tuổi và trình độ giúp học viên có nền tảng Anh ngữ vững chắc,
                                tăng khả năng giao tiếp và đạt kết quả cao trong các kỳ thi Anh ngữ quốc tế.
                            </p>
                            <a href="#featured-services" class="btn-get-started scrollto">Bắt đầu</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('/images/intro-carousel/2.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Học Tiếng Anh vững vàng, tương lai tươi sáng</h2>
                            <p>
                                Với chất lượng giảng dạy đạt chuẩn quốc tế cùng các trung tâm hiện đại trên khắp cả nước, Home Study mang
                                đến những khoá học dành riêng cho từng độ tuổi và trình độ giúp học viên có nền tảng Anh ngữ vững chắc,
                                tăng khả năng giao tiếp và đạt kết quả cao trong các kỳ thi Anh ngữ quốc tế.
                            </p>
                            <a href="#featured-services" class="btn-get-started scrollto">Bắt đầu</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('/images/intro-carousel/3.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Học tiếng Anh siêu vui, Mùa hè siêu thú vị</h2>
                            <p>
                                Với chất lượng giảng dạy đạt chuẩn quốc tế cùng các trung tâm hiện đại trên khắp cả nước, Home Study mang
                                đến những khoá học dành riêng cho từng độ tuổi và trình độ giúp học viên có nền tảng Anh ngữ vững chắc,
                                tăng khả năng giao tiếp và đạt kết quả cao trong các kỳ thi Anh ngữ quốc tế.
                            </p>
                            <a href="#featured-services" class="btn-get-started scrollto">Bắt đầu</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('/images/intro-carousel/4.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Chúng tôi giúp bạn có thể giao tiếp Tiếng Anh sau 3 tháng</h2>
                            <p>
                                Với chất lượng giảng dạy đạt chuẩn quốc tế cùng các trung tâm hiện đại trên khắp cả nước, Home Study mang
                                đến những khoá học dành riêng cho từng độ tuổi và trình độ giúp học viên có nền tảng Anh ngữ vững chắc,
                                tăng khả năng giao tiếp và đạt kết quả cao trong các kỳ thi Anh ngữ quốc tế.
                            </p>
                            <a href="#featured-services" class="btn-get-started scrollto">Bắt đầu</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('/images/intro-carousel/5.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Hãy đăng ký ngay các khóa học tại Home Study để nhận được nhiều ưu đãi hấp dẫn</h2>
                            <p>
                                Với chất lượng giảng dạy đạt chuẩn quốc tế cùng các trung tâm hiện đại trên khắp cả nước, Home Study mang
                                đến những khoá học dành riêng cho từng độ tuổi và trình độ giúp học viên có nền tảng Anh ngữ vững chắc,
                                tăng khả năng giao tiếp và đạt kết quả cao trong các kỳ thi Anh ngữ quốc tế.
                            </p>
                            <a href="#featured-services" class="btn-get-started scrollto">Bắt đầu</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section>