
<section id="team">
    <div class="container">
        <div class="section-header wow fadeInUp">
            <h3>Đội ngũ giáo viên</h3>
            <p>
                100% giáo viên bản xứ xuất sắc của chúng tôi đều được đào tạo bài bản và cấp chứng chỉ CELTA (chứng chỉ giảng dạy
                Anh ngữ Quốc tế của Đại học Cambridge) và TESOL (chứng chỉ quốc tế về phương pháp giảng dạy tiếng Anh). Chúng
                tôi luôn sẵn sàng hỗ trợ để bạn có thể tự tin đạt được mục tiêu cải thiện tiếng Anh của mình.
            </p>
        </div>

        <div class="row">
            @*Empty*@
            <div class="col-lg-3 col-md-6 wow fadeInUp">
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp">
                <div class="member">
                    <img src="~/images/teacher/Aria.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Aria</h4>
                            <span>Teacher</span>
                            <div class="social">
                                <a href="">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="member">
                    <img src="~/images/teacher/Vadim.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Vadim</h4>
                            <span>Teacher</span>
                            <div class="social">
                                <a href="">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="member">
                    <img src="~/images/team-3.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>William Anderson</h4>
                            <span>CTO</span>
                            <div class="social">
                                <a href="">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="member">
                    <img src="~/images/team-4.jpg" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Amanda Jepson</h4>
                            <span>Accountant</span>
                            <div class="social">
                                <a href="">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        </div>

    </div>
</section>